IMAGE_RESOLUTION="128x128"
MCP_TEXT_TO_IMAGE_SERVER_NAME="text2image-mcp"
TEXT2IMAGE_MODEL_NAME="Tongyi-MAI/Z-Image-Turbo"
TEXT2IMAGE_BASE_URL="base_url/v1"
TEXT2IMAGE_API_KEY="mlis-token"
MCP_ALLOWED_HOSTS="e.g. text2image-mcp.ai-application.pcai0108.dc15.hpecolo.net"